{% extends "/base.html" %}
{% block content %}

<h2>Privacy Policy</h2>

<h3>Last Update: February 17, 2011</h3>

<p>This web site agrees to the following:</p>

<h4>Information Gathered From Visitors</h4>

<p>Just like other web sites, the server stores log files, which contain details such as the visitor's IP address, browser type, referring page, and time of visit.</p>

<p>Cookies may be used to remember visitor information when interacting with the web site.</p>

<p>Third-party advertising companies may also use cookies for tracking purposes.</p>

<h4>How the Information is Used</h4>

<p>The information is used to enhance the vistor's experience when using the web site to display personalized content and possibly advertising.</p>

<p>The information will not be sold, rented or leased to third-parties.</p>

<h4>Visitor Options</h4>

<p>Visitors may be able to block cookies or JavaScript via their browser settings but this may prevent them from accessing certain features of the web site.</p>

<h4>Amendments to This Privacy Policy</h4>

<p>This Privacy Policy may be amended from time to time with or without notice to visitors.</p>

{% endblock %}
