[submodule "lib/gae_deploy"]
	path = lib/gae_deploy
	url = https://github.com/bdoms/gae_deploy.git
[submodule "lib/gae_html"]
	path = lib/gae_html
	url = https://github.com/bdoms/gae_html.git
[submodule "lib/gae_validators"]
	path = lib/gae_validators
	url = https://github.com/bdoms/gae_validators.git
[submodule "lib/sendgrid-python"]
	path = lib/sendgrid-python
	url = https://github.com/sendgrid/sendgrid-python.git
[submodule "lib/python-http-client"]
	path = lib/python-http-client
	url = https://github.com/sendgrid/python-http-client
[submodule "lib/httpagentparser"]
	path = lib/httpagentparser
	url = https://github.com/shon/httpagentparser.git
[submodule "lib/gcs"]
	path = lib/gcs
	url = https://github.com/GoogleCloudPlatform/appengine-gcs-client.git
