{% extends "/base.html" %}
{% block content %}

<h2>Dev</h2>

<p><a href="{{logout_url}}">Log Out</a></p>

<form action="" method="post">
    <input type="hidden" name="make_admin" value="1"/>

    {% if errors.get('exists') %}
        <p class="error">There is no user associated with that email address.</p>
    {% endif %}

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required value="{{form.get('email', '')}}"/>
    <input type="submit" value="Make User an Admin"/>
    {% if errors.get('email') %}
        <span class="error">Please enter a valid email.</span>
    {% endif %}
</form>

<form action="" method="post">
    <input type="hidden" name="memcache" value="1"/>
    <input type="submit" value="Clear Memcache"/>
</form>

{% endblock %}
