{% extends "/base.html" %}
{% block content %}

<h2>Reset Password</h2>

<form action="" method="post">
    <input type="hidden" name="email" value="${email}" />
    <input type="hidden" name="token" value="${token}" />

    <p>Please enter your new password.</p>

    <p>
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" required autofocus />
        {% if errors.get('password') %}
            <span class="error">Please enter a valid password.</span>
        {% endif %}
    </p>

    <p><input type="submit" value="Save New Password" /></p>
</form>

{% endblock %}
