<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Timeout Error | Site Name</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/i/favicon.png" />

    <link rel="stylesheet" href="/c/main.css" />
</head>
<body>
    <header>
        <h1><a href="/">Site Name</a></h1>
    </header>

    <section>
        <h2>Timeout Error</h2>
        <p>You are seeing this page because the site is taking too long to respond.</p>
    </section>

    <footer>
        <ul>
            <li><a href="/terms">Terms of Service</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </footer>

    <script src="/j/main.js"></script>
    <script>
        gaescaffold.ajax("POST", "/logerror", {"reason": "Timeout"});
    </script>
</body>
</html>
