<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {# SEO: titles should be 70 characters or less #}
    <title>
        {% if page_title %}
            {{page_title}} |
        {% endif %}
        Site Name
    </title>

    {# SEO: meta descriptions should be 155 characters or less #}
    {% if page_title %}
        <meta name="description" content="{{page_title}} | Site Name."/>
        <meta name="author" content="Site Author"/>
    {% else %}
        <meta name="description" content="Site Name"/>
        <meta name="author" content="Site Author"/>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{h.static('/i/favicon.png')}}" />

    <link rel="stylesheet" href="{{h.static('/c/main.css')}}" />
</head>
<body>
    <header>
        <h1><a href="/">Site Name</a></h1>
    </header>

    <nav>

    </nav>

    <section>
        {% if flash %}
            <div class="flash">
                <p>{{flash}}</p>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </section>

    <footer>
        <ul>
            {% if is_admin %}
                <li><a href="/admin">Admin</a></li>
            {% endif %}
            <li><a href="/terms">Terms of Service</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </footer>

    <script src="{{h.static('/j/main.js')}}"></script>
    {% if not h.debug() %}
        {# include third-party scripts for tracking or advertising here #}
    {% endif %}
</body>
</html>
