{% extends "/base.html" %}
{% block content %}

<h2>Sign Up</h2>

<form action="" method="post">
    {% if errors.get('exists') %}
        <p class="error">That email address is already in use.</p>
    {% endif %}

    <p>
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" required autofocus value="{{form.get('first_name', '')}}" />
        {% if errors.get('first_name') %}
            <span class="error">Please enter a valid first name.</span>
        {% endif %}
    </p>
    <p>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" required value="{{form.get('last_name', '')}}" />
        {% if errors.get('last_name') %}
            <span class="error">Please enter a valid last name.</span>
        {% endif %}
    </p>
    <p>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required value="{{form.get('email', '')}}" />
        {% if errors.get('email') %}
            <span class="error">Please enter a valid email.</span>
        {% endif %}
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        {% if errors.get('password') %}
            <span class="error">Please enter a valid password.</span>
        {% endif %}
    </p>
    <input type="submit" value="Sign Up" />
</form>

{% endblock %}
